@model EVCharging.Data.Charger

@{
    ViewBag.Title = "Details of Charger";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ChargerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
