@model IEnumerable<EVCharging.Data.Charger>

@{
    ViewBag.Title = "Charger Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
<<<<<<< HEAD
        <th>
            @Html.DisplayName("Charger Name")
        </th>
        <th>
            @Html.DisplayName("Location Name")
=======
        <th>         
            @Html.DisplayName("Charger Name")
        </th>
        <th>
          @Html.DisplayName("Location Name")
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>


        <th></th>
    </tr>

<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChargerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
=======
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ChargerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location.LocationName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Availability)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
       
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5

</table>
