@model EVCharging.Data.Connector

@{
    ViewBag.Title = "Delete connector";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Connector Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connector_Types.ConnectorName)
        </dd>

        <dt>
            @Html.DisplayName("Location Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayName("Charger Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charger.ChargerName)
        </dd>

        <dt>
            @Html.DisplayName("Connector Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorStatus)
        </dd>

        <dt>
            @Html.DisplayName("SMS Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMSCode)
        </dd>

        <dt>
            @Html.DisplayName("Connector UuId")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorUnId)
        </dd>







    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-success" /> |
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
</div>
    }
</div>
