@model IEnumerable<EVCharging.Data.Connector>

@{
    ViewBag.Title = "Connector Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Connector_Types.ConnectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charger.ChargerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectorStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectorUnId)
        </th>
       
   
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Connector_Types.ConnectorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location.LocationName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Charger.ChargerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ConnectorStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SMSCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ConnectorUnId)
    </td>
  


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
       
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
