@model IEnumerable<EVCharging.Data.Connector>

@{
    ViewBag.Title = "Connector Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
<<<<<<< HEAD
            @Html.DisplayName("Connector UuId")
        </th>
        <th>
            @Html.DisplayName("Connector Type Name")
        </th>
        <th>
            @Html.DisplayName("Location Name")
        </th>
        <th>
            @Html.DisplayName("Charger Name")
        </th>
        <th>
            @Html.DisplayName("Connector Status")
        </th>
        <th>
            @Html.DisplayName("SMS Code")
        </th>



=======
            @Html.DisplayName("Connector Name")
        </th>
        <th>
            @Html.DisplayName("Location Name")
        </th>
        <th>
            @Html.DisplayName("Charger Name")
        </th>
        <th>
            @Html.DisplayName("Connector Status")
        </th>
        <th>
            @Html.DisplayName("SMS Code")
        </th>
        <th>
            @Html.DisplayName("Connector UuId")
        </th>
       
   
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ConnectorUnId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Connector_Types.ConnectorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location.LocationName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Charger.ChargerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ConnectorStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SMSCode)
    </td>
<<<<<<< HEAD


=======
    <td>
        @Html.DisplayFor(modelItem => item.ConnectorUnId)
    </td>
  
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
<<<<<<< HEAD
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |

=======
       
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
