@model EVCharging.Data.Service

@{
    ViewBag.Title = "Delete selected service record";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Service Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt>
            @Html.DisplayName("Service Description")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
        <dt>
            @Html.DisplayName("Accepted")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-success" /> |
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
</div>
    }
</div>
