@model IEnumerable<EVCharging.Data.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ServiceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServiceDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Accepted)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ServiceID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ServiceID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ServiceID })
    </td>
</tr>
}

</table>
