@model EVCharging.Data.Location
<<<<<<< HEAD

@{
    ViewBag.Title = "Create a new Location Entry";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<style>



    #myMap {
        height: 300px;
        width: 600px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LocationName, "Location Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="myMap"></div>


        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- <input type="text" id="latitude" />-->
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", id = "latitude" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- <input type="text" id="longitude" />-->
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", id = "longitude" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessUnitName, "Business Unit Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessUnitName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessUnitName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnUUd8xHf898NuokE__eCvQRbImd-YvOk&libraries=places"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        var latlng = new google.maps.LatLng(51.4975941, -0.0803232);
        var map = new google.maps.Map(document.getElementById('myMap'), {
            center: latlng,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Set lat/lon values for this property',
            draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("latitude").value = this.getPosition().lat();
            document.getElementById("longitude").value = this.getPosition().lng();
        });
=======
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5

@{

<<<<<<< HEAD
    </script>

}
=======
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <style>

        #map_canvas {
            width: 400px;
            height: 300px;
        }

        #current {
            padding-top: 25px;
        }

        #myMap {
            height: 350px;
            width: 680px;
        }
    </style>



   
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKQFV5gkdCH2cul-N5qrjZ05b0CzqTIMs&libraries=places"></script>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            var map;
            var marker;
            var myLatlng = new google.maps.LatLng(20.268455824834792, 85.84099235520011);
            var geocoder = new google.maps.Geocoder();
            var infowindow = new google.maps.InfoWindow();
            function initialize() {
                var mapOptions = {
                    zoom: 18,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("myMap"), mapOptions);

                var myMarker = new google.maps.Marker({
                    map:map,
                    position: myLatlng,
                    draggable: true
                });

                geocoder.geocode({ 'latLng': myLatlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $('#latitude,#longitude').show();
                            $('#address').val(results[0].formatted_address);
                            $('#latitude').val(marker.getPosition().lat());
                            $('#longitude').val(marker.getPosition().lng());
                            infowindow.setContent(result[0].formatted_address);
                            infowindow.open(map, marker);

                        }
                    }
                });
                google.maps.event.addListener(myMarker, 'dragend', function () {
                    document.getElementById('latitude').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
                });

                google.maps.event.addListener(myMarker, 'dragstart', function (evt) {
                    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
                });
                    });
            });
                        }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        
    </head>
    <body>
        <div id="myMap"></div>
        <input id="address" type="text" style="width:600px" />
        <input type="text" id="latitude" placeholder="Latitude" />
        <input type="text" id="longitude" placeholder="Longitude" />
    </body>
       
>>>>>>> 8bb43e7c562d901dad9a6fcb294a4442457e1bc5
