
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<div style="width:auto;float:right">
    @if (@Session["UserEmail"] != null)
    {
        <span>Welcome : </span> @Session["UserEmail"] <span> | </span> 
    }
    else
    {
        @Html.ActionLink("Register", "register", "Home")
        <span> | </span>
        @Html.ActionLink("Login", "Login", "Home", null)
    }
</div>
<div style="text-align: center; padding-top: 50px;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="login-page">
            <div class="form1" style="max-width:400px; color:white;text-align:left">
                <div class="login">
                    <div class="login-header">
                        <h3 style="text-align:center;color:white;">CHANGE PASSWORD</h3>


                    </div>
                </div>
                <hr />

                <div class="form-group ">
                    @Html.Label("Old Password", new { htmlAttributes = new { @class = "control-label" }, @for = "Password" })
                    <div>
                        <input type="password" id="password" name="password" size="50" width="10" style="color:black" >
                    </div>
                </div>
                <div class="form-group form-group-lg">

                    @Html.Label("New Password", new { htmlAttributes = new { @class = "control-label" }, @for = "newPassword" })
                    <div>
                        <input type="password" id="newPassword" name="newPassword" size="50" style="color:black">
                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Re-Password", new { htmlAttributes = new { @class = "control-label" }, @for = "Confirmpwd" })
                    <div>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" size="50" style="color:black" >
                       
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="registerbtn " />
                </div>
            </div>
        </div>


    }
</div>@Html.Raw(TempData["msg"])
