<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image: url('../../Image/back.jfif'); ">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4 style="color:yellow;padding-top:5px">EVCharging</h4>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li style="color:white;"> <a href="https://localhost:44344/" target="_blank" >Admin</a></li>
                    <li>@Html.ActionLink("LogOut", "Logout", "Display")</li>
                </ul>

                
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });</script>

</body>
</html>



