<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image: url('../../Image/back12.jpg'); ">
    <div class=" navbar navbar-inverse navbar-fixed-top  ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4 style="color:greenyellow;padding-top:5px">EVCharging</h4>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Location", "userLocation", "Display",null, new {style = "color: white" })</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style = "color: white">Update Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li style="color:yellow;">
                                @Html.ActionLink("UpdateProfile", "UpdateProfile", "Display")
                            </li>
                            <li>@Html.ActionLink("ChangePassword", "Index", "Display")</li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Display")</li>

                        </ul>
                    </li>







                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });</script>

</body>
</html>



