@model EVCharging.Data.Charger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Charger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>
        
    <dt>
        @Html.DisplayNameFor(model => model.InsertDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InsertDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UpdateDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UpdateDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DeleteDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DeleteDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.IsDeleted)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IsDeleted)
    </dd>
   
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |

    @Html.ActionLink("Back to List", "Index")
</p>
