@model IEnumerable<EVCharging.Data.Select_Charger_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LocationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Availability)
    </td>
     <td>
         @Html.DisplayFor(modelItem => item.InsertDate)
     </td>
     <td>
         @Html.DisplayFor(modelItem => item.UpdateDate)
     </td>
     <td>
         @Html.DisplayFor(modelItem => item.DeleteDate)
     </td>
     <td>
         @Html.DisplayFor(modelItem => item.IsDeleted)
     </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
